
.page-sidebar
{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    background-color: #a6998a;

    border-right-color: rgba(0,0,0,.20);
    border-right-style: solid;
    border-right-width: 1px;

    height: 100%;
    overflow-y: scroll;
    white-space: nowrap;

}

.page-sidebar-contents
{
    padding-top: 60px;
    padding-left: 15px;
    white-space: nowrap;
    overflow-y: scroll;
    height:100%;
    width: 250px;
}

.sidebar-hamburger
{
    display: block;
    padding: 30px;

    align-self: flex-end;
    align-items: flex-end;
}

.hammy
{
  width: 35px;
  height: 5px;
  background-color: #ffaa00;
  margin: 6px 0;
}

.menu-item:hover
{
    text-decoration: underline;
    font-weight: bolder;
}

.menu-active
{
    color: #ffaa00;
}