<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script   src="https://code.jquery.com/jquery-3.6.0.slim.min.js"   integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI="   crossorigin="anonymous"></script>

    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/docsify/themes/vue.css">

    <link rel="stylesheet" href="{{ url_for('/book.static', filename='css/page.css')}}">
    <link rel="stylesheet" href="{{ url_for('/book.static', filename='css/page.mobile.css')}}">

    <title id="title">Kaizen's Guide</title>

</head>
<body>
{% include "includes/beta_warning.html" %}
<div class="page">
    <div id="page-contents" class="md-content unselectable">
    </div>
    <div class="page-number">
        <p id="page-number-text">
        </p>
    </div>
</div>
{% include "includes/cookie_warning.html" %}
</body>
</html>

<script src="{{ url_for('/book.static', filename='js/page.base.js')}}"></script>
<script>
    var page_count = {{ page_count | safe }};
    console.log(`page_count: ${page_count}`)
    var page_manager = new PageDesktop( page_count );


</script>







</script>
