<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script   src="https://code.jquery.com/jquery-3.6.0.slim.min.js"   integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI="   crossorigin="anonymous"></script>

    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/docsify/themes/vue.css">

    <link rel="stylesheet" href="{{ url_for('/book.static', filename='css/page.css')}}">
    <link rel="stylesheet" href="{{ url_for('/book.static', filename='css/page.mobile.css')}}">

    <title id="title">Kaizen's Guide</title>

</head>
<body>
{% include "includes/beta_warning.html" %}
<div class="page">
    <div id="page-contents" class="md-content unselectable">
    </div>
    <div class="page-number">
        <p id="page-number-text">
        </p>
    </div>
</div>
{% include "includes/cookie_warning.html" %}
</body>
</html>

<script src="{{ url_for('/book/static', filename='js/page.base.js')}}"></script>



<script>
    var page_num = 0;
    var page_count = {{ page_count | safe }};



    const delta = 6;
    let startX;
    let startY;

    function mod(n, m) {
        return ((n % m) + m) % m;
    }

    document.addEventListener('mousedown', function (event) {
      startX = event.pageX;
      startY = event.pageY;
    });

    function set_page_data(page_number)
    {
        fetch(`/book/content/${page_number}`).then
        (
            (response) =>
            {
                response.json().then((data) =>
                {
                    $("#page-contents").html(data);
                })

            }
        )
        $("#page-number-text").html(page_number);
    }

    document.addEventListener('mouseup', function (event) {
      const dX = event.pageX - startX;
      if (Math.abs(dX) > 1)
      {
            if (Math.sign(dX) < 0)
            {
                let next = mod((page_num + 1),page_count);
                page_num = next;
                set_page_data(next);
            }
            else
            {
                let prev = mod((page_num - 1),page_count);
                page_num = prev;
                set_page_data(prev);
            }
      }
    });

    document.addEventListener('touchstart', handleTouchStart, false);
    document.addEventListener('touchmove', handleTouchMove, false);

    var xDown = null;
var yDown = null;

function getTouches(evt) {
  return evt.touches ||             // browser API
         evt.originalEvent.touches; // jQuery
}

function handleTouchStart(evt) {
    const firstTouch = getTouches(evt)[0];
    xDown = firstTouch.clientX;
    yDown = firstTouch.clientY;
};

function handleTouchMove(evt) {
    if ( ! xDown || ! yDown ) {
        return;
    }

    var xUp = evt.touches[0].clientX;
    var yUp = evt.touches[0].clientY;

    var xDiff = xDown - xUp;
    var yDiff = yDown - yUp;

    if ( Math.abs( xDiff ) > Math.abs( yDiff ) ) {/*most significant*/
        if ( xDiff > 0 ) {
            let next = (page_num + 1) % page_count;
            page_num += 1;
            set_page_data(next);
        } else {
            let next = (page_num - 1) % page_count;
            page_num -= 1;
            set_page_data(next);
        }
    } else {
        if ( yDiff > 0 ) {
            /* down swipe */
        } else {
            /* up swipe */
        }
    }
    /* reset values */
    xDown = null;
    yDown = null;
};

    window.addEventListener("load", function(){
        set_page_data(0);
    });




</script>
