<link rel="stylesheet" href="{{ url_for('/book.static', filename='css/beta_warning.css')}}">

<div id="beta-warning" class="alert alert-warning" role="alert">
    <div class="banner-text">
            This website is in beta.
            <span id="alert-toggle" class="alert-toggle">Hide this.</span>
    </div>

</div>

<script>
    document.getElementById("alert-toggle")
        .addEventListener("click",
            (event) => {document.getElementById("beta-warning").hidden = true;},
            false);
</script>