<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/Wruczek/Bootstrap-Cookie-Alert@gh-pages/cookiealert.css">

<div class="alert text-center cookiealert" role="alert">
    <b>The only cookie we store is to remember what page you are on.</b>

    <span id="accept-cookies" class="acceptcookies">
        Remember my page!
    </span>
    <span id="disable-cookies" class="acceptcookies">
        No!
    </span>
</div>

<style>
    #accept-cookies
    {

    }
</style>

<script src="https://cdn.jsdelivr.net/gh/Wruczek/Bootstrap-Cookie-Alert@gh-pages/cookiealert.js"></script>

<!--event listener for accepting cookies -->
<script>
window.addEventListener("cookieAlertAccept", function() {

})
</script>