<link rel="stylesheet" href="{{ webpacked_url_for('/lifeguide.static', filename='css/cookie_alert.css')}}">


<div id="cookie-alert" class="alert" role="alert">
    <div id="alert-message">
        <b>The only cookie we store is to remember what page you are on.</b>
    </div>
    <div class="cookie-buttons">
        <button id="cookie-button-ok" type="button" class="btc btn-primary cookie-button">
            Ok!
        </button>
        <button id="cookie-button-cancel" type="button" class="btn btn-secondary cookie-button">
            No!
        </button>
    </div>
</div>

<script src="{{ webpacked_url_for('/lifeguide.static', filename='js/cookie_alert.js')}}"></script>
<script defer>
    cookie_alert.addCookieEvents();
</script>


