<link rel="stylesheet" href="{{ url_for('/book.static', filename='css/page.css')}}">
<link rel="stylesheet" href="{{ url_for('/book.static', filename='css/page.mobile.css')}}">

<div id="page" class="page">
    <div id="page-contents" class="page-content unselectable"></div> <!-- Page Manager stuffs this -->



    <!-- optimize this, maybe collapse page-info and navigation, remove page-number div -->
    <div class="page-info">
        <div class="navigation">
            <div class="page-turn" id="prev-page">Prev</div>
            <div class="page-number"><p id="page-number-text"></p></div>
            <div class="page-turn" id="next-page">Next</div>
        </div>
    </div>


</div>

<!-- remove overlay guide -->

<script>var exports = {};</script>
<script src="https://unpkg.com/js-logger/src/logger.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/mobile-detect@1.4.5/mobile-detect.min.js"></script>
<script
        src="{{ webpacked_url_for('/book.static', filename='js/main.js')}}"
></script>


<script defer>

    //make library
    //make book -> set_interface -> open()
    //initialize book

    var book_interface = new booklib.Book_Interface();
    booklib.makeEventListeners(book_interface);

    //initialize book


</script>



