<link rel="stylesheet" href="{{ url_for('/lifeguide.static', filename='css/page.css')}}">
<link rel="stylesheet" href="{{ url_for('/lifeguide.static', filename='css/page.mobile.css')}}">


<div id="page" class="page">
    {% include "includes/sidebar.html" %}
    <div id="book-page" class="book-page">
        <div id="page-contents" class="page-content" data-page-swipe='1'></div> <!-- render_page function stuffs this -->



        <!-- optimize this, maybe collapse page-info and navigation, remove page-number div -->
        <div class="page-info">
            <div class="navigation">
                <div class="page-turn" id="prev-page">Prev</div>
                <div class="page-number"><p id="page-number-text"></p></div>
                <div class="page-turn" id="next-page">Next</div>
            </div>
        </div>
    </div>


</div>

<!-- remove overlay guide -->


<script src="https://unpkg.com/js-logger/src/logger.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/mobile-detect@1.4.5/mobile-detect.min.js"></script>
<script
        src="{{ webpacked_url_for('/lifeguide.static', filename='js/main.js')}}"
></script>


<script defer>
    var book_interface = new main.Book_Interface();
    main.makeEventListeners(book_interface);

    const book_data = new main.DataResolver.Web2_Resolver();
    main.Book_Factory.make_book(book_data).then((result) => {
        book_interface.set_book(result);
    });
</script>



