
<link rel="stylesheet" href="{{ url_for('/book.static', filename='css/sidebar.css')}}">

<div id="page-sidebar" class="page-sidebar" data-page-swipe='0'>
    <div id="page-sidebar-contents" class="page-sidebar-contents" hidden="true">

    </div>
    <div id="sidebar-hamburger" class="sidebar-hamburger" onclick="toggleMenu()" data-open="0">
        <div class="hammy"></div>
        <div class="hammy"></div>
        <div class="hammy"></div>
    </div>
</div>

<script>
    function toggleMenu()
    {
        console.log("Menu toggled.");
        let hamburger = document.getElementById("sidebar-hamburger");
        let open = hamburger.getAttribute('data-open');
        if (open == 0)
        {
            document.getElementById("page-sidebar-contents").hidden = false;
            hamburger.setAttribute('data-open', '1');
        }
        else
        {
            document.getElementById("page-sidebar-contents").hidden = true;
            hamburger.setAttribute('data-open', '0');
        }
    }
</script>